<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>✏️ Habits</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- FullCalendar-Moment -->
        <script class="cssdesk" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/daygrid.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}?1=1" />

        <!-- FullCalendar JS -->
        <script src="{{ url_for('static', filename='js/fullcalendar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/daygrid.js') }}"></script>
        <script src="{{ url_for('static', filename='js/interaction.js') }}"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let Calendar = FullCalendar.Calendar;
                let Draggable = FullCalendarInteraction.Draggable;

                let containerEl = document.getElementById("external-events");
                let calendarEl = document.getElementById("calendar");

                // initialize the external events
                new Draggable(containerEl, {
                    itemSelector: ".fc-event",
                    eventData: function (eventEl) {
                        return {
                            title: eventEl.innerText,
                        };
                    },
                });

                // initialize the calendar
                let calendar = new Calendar(calendarEl, {
                    plugins: ["interaction", "dayGrid"],
                    header: { left: "prev", center: "title", right: "next" },
                    editable: true,
                    droppable: true,
                    displayEventTime: false,
                    eventReceive: function (event, _) {
                        saveEvent(event);
                    },
                    eventSources: [
                        {
                            events: function (_, successCallback, __) {
                                const currentEmail = location.search.split("=")[1];
                                $.ajax({
                                    url: "/habits-date",
                                    type: "GET",
                                    dataType: "json",
                                    data: {},
                                    success: function (response) {
                                        const eventsList = response["events_list"];
                                        console.log(eventsList);
                                        let event = [];
                                        for (let i = 0; i < eventsList.length; i++) {
                                            if (eventsList[i].email === currentEmail) {
                                                event.push(eventsList[i]);
                                            }
                                        }
                                        console.log(event);
                                        successCallback(event);
                                    },
                                });
                            },
                        },
                    ],
                });

                calendar.render();
            });

            function saveEvent(event) {
                const email = location.search.split("=")[1];
                $.ajax({
                    type: "POST",
                    url: `/habits-date`,
                    data: {
                        date: moment(event.event.start).format("YYYY-MM-DDThh:mm"),
                        title: event.event.title,
                        email: email,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("저장 성공!");
                        } else {
                            alert("서버 오류!");
                        }
                    },
                });
            }
        </script>
    </head>
    <body>
        <h1>Calendar</h1>
        <h3>안녕하세요 {{ username }}님!</h3>
        <div id="external-events">
            <p>
                <strong>😃 My Habits</strong>
            </p>
            {% for habit in habits %}
            <div class="fc-event">{{ habit.habit }}</div>
            {% endfor %}
        </div>
        <div id="calendar"></div>
    </body>
</html>
