<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>✏️ Habits</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- favicon -->
        <link rel="icon" type="image/png" sizes="16x16" href="favicon.png" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- FullCalendar-Moment -->
        <script class="cssdesk" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />

        <!-- FontAwesome -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous"
        />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/daygrid.css') }}?1=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/fullcalendar.css') }}?1=2" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}?1=14" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/habit.css') }}?1=6" />

        <!-- JS -->
        <script src="{{ url_for('static', filename='js/vendor/fullcalendar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/daygrid.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/interaction.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/calendar.js') }}?1=8"></script>
        <style>
            #calender {
                margin-top: 20px;
            }
            .fc-day-header.fc-widget-header {
                color: #fff;
                background-color: #fba09d;
            }
            .chart__content .box:first-child {
                height: 5%;
                display: flex;
                justify-content: space-between;
            }
            .chart__content .box:last-child {
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .chart__column span {
                font-size: 16px;
            }
            .box h2 {
                margin: 20px 0;
            }
        </style>
    </head>

    <body>
        <div class="header">
            <h1>{{ username }}님의 습관달력&nbsp;<i class="fas fa-book-open"></i></h1>
        </div>

        <!-- 습관목록 -->
        <div id="external-events">
            <p><i class="far fa-list-alt"></i>&nbsp;<strong>나의 습관목록</strong></p>
            {% for habit in habits %}
            <div class="fc-event {{habit.color}}">{{ habit.habit }}</div>
            {% endfor %}
            <button onClick="openAddHabits()" type="button" class="default-btn">습관추가</button>
            <a href="#statistics"><button onClick="openChartModal()" type="button" class="default-btn">통계</button></a>
        </div>

        <!-- 습관 수정/삭제 -->
        <div id="multiModal" class="modal">
            <div class="content multiModal__content">
                <div class="row">
                    <h2>습관수정</h2>
                </div>
                <div class="row">
                    <label class="label" for="habitName">습관이름</label>
                    <input type="text" id="habitName" />
                    <label class="label" for="color">색상</label>
                    <select name="color" id="select-color">
                        <option value="deep-blue">남색</option>
                        <option value="green">초록</option>
                        <option value="orange">주황</option>
                        <option value="yellow">노랑</option>
                        <option value="beige">베이지</option>
                        <option value="pink">핑쿠</option>
                        <option value="burgendy">버건디</option>
                        <option value="grey">회색</option>
                    </select>
                </div>
                <div class="row">
                    <button type="button" class="default-btn" id="close-btn">닫기</button>
                    <button type="button" class="delete-btn" id="delete-btn">삭제</button>
                    <button type="button" class="save-btn" id="save-btn">저장</button>
                </div>
            </div>
        </div>

        <!-- 습관추가 -->
        <div id="addHabits" class="modal">
            <div class="content addHabits__content">
                <div class="row">
                    <h2>습관등록</h2>
                </div>
                <div class="row">
                    <label class="label" for="habit">습관이름</label>
                    <input type="text" id="habit" name="habit" />
                    <label class="label" for="color">색상</label>
                    <select name="color" id="add__select-color">
                        <option value="deep-blue">남색</option>
                        <option value="green">초록</option>
                        <option value="orange">주황</option>
                        <option value="yellow">노랑</option>
                        <option value="beige">베이지</option>
                        <option value="pink">핑쿠</option>
                        <option value="burgendy">버건디</option>
                        <option value="grey">회색</option>
                    </select>
                </div>
                <div class="row">
                    <button type="button" class="default-btn" onClick="closeAddHabits()">닫기</button>
                    <button type="button" class="save-btn" onClick="addHabits()">등록</button>
                </div>
            </div>
        </div>

        <!-- 달력 -->
        <div id="calendar"></div>

        <!-- 통계차트 -->
        <div id="chart__container" class="modal">
            <div class="content chart__content">
                <div class="box">
                    <div class="chart__column">
                        <span>월 선택 :</span>
                        <select name="selectMonth" id="selectMonth">
                            <option value="01">JAN</option>
                            <option value="02">FEB</option>
                            <option value="03">MAR</option>
                            <option value="04">APR</option>
                            <option value="05">MAY</option>
                            <option value="06">JUN</option>
                            <option value="07">JUL</option>
                            <option value="08">AUG</option>
                            <option value="09">SEP</option>
                            <option value="10">OCT</option>
                            <option value="11">NOV</option>
                            <option value="12">DEC</option>
                        </select>
                        <button type="button" onClick="openChart()" class="default-btn">보기</button>
                    </div>
                    <div class="chart__column">
                        <button type="button" class="default-btn" onClick="closeChart()">닫기</button>
                    </div>
                </div>
                <div class="box">
                    <div id="graph" class="modal">
                        <h2>한달에 이만큼 했네요 😄</h2>
                        <div>
                            <canvas id="myChart" height="500" width="1000"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function saveEvent(event) {
                const email = location.search.split("=")[1];
                const colorName = event.draggedEl.classList[1];

                if (colorName === "deep-blue") color = "#4d638c";
                else if (colorName === "green") color = "#83b799";
                else if (colorName === "orange") color = "#ffa94d";
                else if (colorName === "yellow") color = "#e2cd6d";
                else if (colorName === "beige") color = "#c3b28f";
                else if (colorName === "pink") color = "#e86f68";
                else if (colorName === "burgendy") color = "#881d1d";
                else if (colorName === "grey") color = "#495057";

                $.ajax({
                    type: "POST",
                    url: "/habits-date",
                    data: {
                        date: moment(event.event.start).format("YYYY-MM-DDThh:mm"),
                        title: event.event.title,
                        email: email,
                        colorName: colorName,
                        color: color,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response["result"] == "success") {
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    },
                });
            }

            function bgLayerOpen() {
                if (!$(".bgLayer").length) {
                    $('<div class="bgLayer"></div>').appendTo($("body"));
                }
                const object = $(".bgLayer");
                const w = $(document).width() + 12;
                const h = $(document).height();

                object.css({ width: w, height: h });
                object.fadeIn(1000);
            }

            function bgLayerClear() {
                const object = $(".bgLayer");

                if (object.length) {
                    object.fadeOut(1000, function () {
                        object.remove();
                    });
                }
            }

            // 습관 등록 모달
            function openAddHabits() {
                const modal = $("#addHabits");
                const content = $("#addHabits .addHabits__content");
                const marginLeft = content.outerWidth() / 2;
                const marginTop = content.outerHeight() / 2;

                if (modal.css("display") === "none") {
                    modal.fadeIn(400);
                    content.css({
                        "margin-top": -marginTop,
                        "margin-left": -marginLeft,
                    });
                    // $(this).blur();
                }
                bgLayerOpen();
            }

            function closeAddHabits() {
                $("#addHabits").fadeOut(400);
                bgLayerClear();
            }

            function addHabits() {
                const currentEmail = location.search.split("=")[1];
                const habit = $("#habit").val();
                const color = $("#add__select-color option:checked").val();
                console.log(habit, color);
                $.ajax({
                    type: "POST",
                    url: "/habits-add",
                    data: {
                        email: currentEmail,
                        habit: habit,
                        color: color,
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    },
                });
            }

            // 습관 수정/삭제 모달
            $("#external-events div").click((e) => {
                const modal = $("#multiModal");
                const content = $("#multiModal .multiModal__content");
                const marginLeft = content.outerWidth() / 2;
                const marginTop = content.outerHeight() / 2;

                if (modal.css("display") === "none") {
                    modal.fadeIn(400);
                    content.css({
                        "margin-top": -marginTop,
                        "margin-left": -marginLeft,
                    });
                }
                bgLayerOpen();

                // 처음 설정한 habit 색깔 select box에 뜨게 설정
                const colorName = e.target.classList[1];

                if (e.target.classList[1] === "deep-blue") {
                    $("#select-color option:eq(0)").prop("selected", true);
                }
                if (e.target.classList[1] === "green") {
                    $("#select-color option:eq(1)").prop("selected", true);
                }
                if (e.target.classList[1] === "orange") {
                    $("#select-color option:eq(2)").prop("selected", true);
                }
                if (e.target.classList[1] === "yellow") {
                    $("#select-color option:eq(3)").prop("selected", true);
                }
                if (e.target.classList[1] === "beige") {
                    $("#select-color option:eq(4)").prop("selected", true);
                }
                if (e.target.classList[1] === "pink") {
                    $("#select-color option:eq(5)").prop("selected", true);
                }
                if (e.target.classList[1] === "burgendy") {
                    $("#select-color option:eq(6)").prop("selected", true);
                }
                if (e.target.classList[1] === "grey") {
                    $("#select-color option:eq(7)").prop("selected", true);
                }

                const currentEmail = location.search.split("=")[1];

                // 모달창에 원래 습관 이름 보이기
                const targetName = e.target.innerHTML;
                $("#habitName").val(targetName);

                // 습관 삭제
                $("#delete-btn").click((e) => {
                    // console.log(targetName);
                    $.ajax({
                        type: "POST",
                        url: "/habits-delete2",
                        data: {
                            email: currentEmail,
                            title: targetName,
                        },
                        success: () => {
                            $("#multiModal").fadeOut(400);
                            bgLayerClear();
                            window.location.reload();
                        },
                    });
                });

                // 습관 수정사항 변경
                $("#save-btn").click(() => {
                    const newName = $("#habitName").val();
                    const newColorName = $("#select-color option:checked").val();
                    // console.log(colorName, newColorName);

                    if (newColorName === "deep-blue") color = "#4d638c";
                    else if (newColorName === "green") color = "#83b799";
                    else if (newColorName === "orange") color = "#ffa94d";
                    else if (newColorName === "yellow") color = "#e2cd6d";
                    else if (newColorName === "beige") color = "#c3b28f";
                    else if (newColorName === "pink") color = "#e86f68";
                    else if (newColorName === "burgendy") color = "#881d1d";
                    else if (newColorName === "grey") color = "#495057";

                    if (colorName !== newColorName) {
                        $(e.target).attr(`${colorName}`, `${newColorName}`);
                        $(".fc-event").attr(`${colorName}`, `${newColorName}`);
                    }

                    $.ajax({
                        type: "POST",
                        url: "/habits-edit",
                        data: {
                            email: currentEmail,
                            title: targetName,
                            newTitle: newName,
                            colorName: colorName,
                            newColorName: newColorName,
                            color: color,
                        },
                        dataType: "json",
                        success: function (response) {
                            if (response["result"] === "success") {
                                window.location.reload();
                            } else {
                                alert("error");
                            }
                        },
                    });
                });

                // 모달창 닫기
                $("#close-btn").click(() => {
                    $("#multiModal").fadeOut(400);
                    bgLayerClear();
                });
            });

            // 통계 차트 모달
            function openChartModal() {
                const modal = $("#chart__container");
                const content = $("#chart__container .chart__content");
                const marginLeft = content.outerWidth() / 2;
                const marginTop = content.outerHeight() / 2;

                if (modal.css("display") === "none") {
                    modal.fadeIn(400);
                    content.css({
                        "margin-top": -marginTop,
                        "margin-left": -marginLeft,
                    });
                }
                bgLayerOpen();
            }

            function closeChart() {
                $("#chart__container").fadeOut(400);
                bgLayerClear();
            }

            function groupBy(list, keyGetter) {
                const map = new Map();
                list.forEach((item) => {
                    const key = keyGetter(item);
                    const collection = map.get(key);
                    if (!collection) {
                        map.set(key, [item]);
                    } else {
                        collection.push(item);
                    }
                });
                return map;
            }

            function openChart() {
                const currentEmail = location.search.split("=")[1];
                const changeMonth = $("#selectMonth option:selected").val();
                // console.log(changeMonth);

                $.ajax({
                    url: "/habits-date",
                    method: "GET",
                    success: (result) => {
                        // 현재 접속된 이메일의 습관목록 가져오기
                        const eventsList = result["events_list"];
                        let event = [];
                        for (let i = 0; i < eventsList.length; i++) {
                            if (eventsList[i].email === currentEmail) {
                                event.push(eventsList[i]);
                            }
                        }
                        // console.log(event);

                        // 월별로 새로운 array 형성
                        const groupedByMonth = groupBy(event, (e) => e.date.split("-")[1]);
                        const month = Array.from(groupedByMonth);
                        // console.log(month);

                        // 내가 선택한 month의 습관정보만 가져오는 array 형성
                        let currentMonth = [];
                        for (let i = 0; i < month.length; i++) {
                            if (month[i][0] === changeMonth) {
                                currentMonth.push(month[i][1]);
                            }
                        }
                        // console.log(currentMonth[0]);

                        // currentMonth를 다시 습관이름별로 array 형성
                        const groupedByTitle = groupBy(currentMonth[0], (e) => e.title);
                        const labelList = Array.from(groupedByTitle);
                        // console.log(labelList);

                        // 월별로 습관별 횟수 array
                        let countByHabits = [];
                        for (let i = 0; i < labelList.length; i++) {
                            countByHabits.push(labelList[i][1].length);
                        }
                        // console.log(countByHabits);

                        let habitName = [];
                        for (let i = 0; i < labelList.length; i++) {
                            habitName.push(labelList[i][0]);
                        }

                        if ($("#graph").css("display") === "none") {
                            $("#graph").show();
                            let ctx = document.getElementById("myChart").getContext("2d");

                            var myChart = new Chart(ctx, {
                                type: "doughnut",
                                data: {
                                    labels: habitName,
                                    datasets: [
                                        {
                                            data: countByHabits,
                                            backgroundColor: ["#3A4564", "#D7D1E5", "#EA9FA2", "#FFDBDC", "#AAAAAA", "#F8D3A5", "#81B3AE"],
                                        },
                                    ],
                                },
                            });
                        }
                    },
                });
            }
        </script>
    </body>
</html>
