<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>Habits</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='diary.png') }}" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- FullCalendar-Moment -->
        <script class="cssdesk" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />

        <!-- FontAwesome -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous"
        />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/daygrid.css') }}?1=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/fullcalendar.css') }}?1=4" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}?1=19" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/habit.css') }}?1=15" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaHabit.css') }}" />

        <!-- JS -->
        <script src="{{ url_for('static', filename='js/vendor/fullcalendar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/daygrid.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/interaction.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/calendar.js') }}?1=42"></script>
        <script src="{{ url_for('static', filename='js/modal.js') }}?1=11"></script>
    </head>

    <body>
        <!-- 메인타이틀 -->
        <div class="header">
            <h1>{{ username }}님의 습관달력&nbsp;<i class="fas fa-book-open"></i></h1>
        </div>

        <!-- 화면 상단 버튼 -->
        <div class="btn__container">
            <button onClick="goHome()" type="button" class="default-btn">Home</button>
            <button type="button" class="default-btn goToday">Today</button>
        </div>

        <!-- 습관목록 -->
        <div id="external-events" class="events__list">
            <p><i class="far fa-list-alt"></i>&nbsp;<strong>나의 습관목록</strong></p>
            <div class="events__column">
                {% for habit in habits %}
                <div class="fc-event {{habit.color}}">{{ habit.habit }}</div>
                {% endfor %}
            </div>
            <button onClick="openAddHabits()" type="button" class="default-btn">습관추가</button>
            <button onClick="openChartModal()" type="button" class="default-btn">통계</button>
        </div>

        <!-- 습관 수정/삭제 -->
        <div id="multiModal" class="modal">
            <div class="content multiModal__content">
                <div class="row">
                    <h2>습관수정</h2>
                </div>
                <div class="row">
                    <div class="form-control">
                        <label class="label" for="editName">습관이름</label>
                        <input type="text" id="editName" />
                        <p>Error Message</p>
                    </div>
                    <label class="label" for="color">색상</label>
                    <select name="color" id="select-color">
                        <option value="deep-blue">남색</option>
                        <option value="green">초록</option>
                        <option value="orange">주황</option>
                        <option value="yellow">노랑</option>
                        <option value="beige">베이지</option>
                        <option value="pink">핑쿠</option>
                        <option value="burgendy">버건디</option>
                        <option value="grey">회색</option>
                    </select>
                </div>
                <div class="row">
                    <button type="button" class="default-btn" id="close-btn">닫기</button>
                    <button type="button" class="delete-btn" id="delete-btn">삭제</button>
                    <button type="button" class="save-btn" id="save-btn">저장</button>
                </div>
            </div>
        </div>

        <!-- 습관추가 -->
        <div id="addHabits" class="modal">
            <div class="content addHabits__content">
                <div class="row">
                    <h2>습관등록</h2>
                </div>
                <div class="row">
                    <div class="form-control">
                        <label class="label" for="habit">습관이름</label>
                        <input type="text" id="habit" name="habit" />
                        <p>Error Message</p>
                    </div>
                    <label class="label" for="color">색상</label>
                    <select name="color" id="add__select-color">
                        <option value="deep-blue">남색</option>
                        <option value="green">초록</option>
                        <option value="orange">주황</option>
                        <option value="yellow">노랑</option>
                        <option value="beige">베이지</option>
                        <option value="pink">핑쿠</option>
                        <option value="burgendy">버건디</option>
                        <option value="grey">회색</option>
                    </select>
                </div>
                <div class="row">
                    <button type="button" class="default-btn" onClick="closeAddHabits()">닫기</button>
                    <button type="button" class="save-btn" onClick="addHabits()">등록</button>
                </div>
            </div>
        </div>

        <!-- 달력 -->
        <div id="calendar" class="calendar"></div>

        <!-- 통계차트 -->
        <div id="chart__container" class="modal">
            <div class="content chart__content">
                <div class="box">
                    <div class="chart__column">
                        <span>연도:</span>
                        <select name="selectYear" id="selectYear">
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                        <span>월:</span>
                        <select name="selectMonth" id="selectMonth">
                            <option value="01">JAN</option>
                            <option value="02">FEB</option>
                            <option value="03">MAR</option>
                            <option value="04">APR</option>
                            <option value="05">MAY</option>
                            <option value="06">JUN</option>
                            <option value="07">JUL</option>
                            <option value="08">AUG</option>
                            <option value="09">SEP</option>
                            <option value="10">OCT</option>
                            <option value="11">NOV</option>
                            <option value="12">DEC</option>
                        </select>
                        <button type="button" onClick="openChart()" class="default-btn">보기</button>
                    </div>
                    <div id="chartAlert" class="chart__column">
                        <span>선택하신 월에는 등록된 습관이 없어요😅</span>
                    </div>
                    <div class="chart__column">
                        <button type="button" class="default-btn media" onClick="closeChart()">닫기</button>
                    </div>
                </div>
                <div class="box">
                    <div id="graph" class="modal">
                        <h2></h2>
                        <div>
                            <canvas id="myChart" height="500" width="1000"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        // 습관 수정 모달
        $("#external-events")
            .find("div")
            .click((e) => {
                const modal = $("#multiModal");
                const content = $("#multiModal .multiModal__content");
                const marginLeft = content.outerWidth() / 2;
                const marginTop = content.outerHeight() / 2;

                if (modal.css("display") === "none") {
                    modal.fadeIn(400);
                    content.css({
                        "margin-top": -marginTop,
                        "margin-left": -marginLeft,
                    });
                }
                bgLayerOpen();

                // 처음 설정한 habit 색깔 select box에 뜨게 설정
                const colorName = e.target.classList[1];

                if (e.target.classList[1] === "deep-blue") {
                    $("#select-color option:eq(0)").prop("selected", true);
                }
                if (e.target.classList[1] === "green") {
                    $("#select-color option:eq(1)").prop("selected", true);
                }
                if (e.target.classList[1] === "orange") {
                    $("#select-color option:eq(2)").prop("selected", true);
                }
                if (e.target.classList[1] === "yellow") {
                    $("#select-color option:eq(3)").prop("selected", true);
                }
                if (e.target.classList[1] === "beige") {
                    $("#select-color option:eq(4)").prop("selected", true);
                }
                if (e.target.classList[1] === "pink") {
                    $("#select-color option:eq(5)").prop("selected", true);
                }
                if (e.target.classList[1] === "burgendy") {
                    $("#select-color option:eq(6)").prop("selected", true);
                }
                if (e.target.classList[1] === "grey") {
                    $("#select-color option:eq(7)").prop("selected", true);
                }

                const currentEmail = location.search.split("=")[1];

                // 모달창에 원래 습관 이름 보이기
                const targetName = e.target.innerHTML;
                $("#editName").val(targetName);

                // 습관 삭제
                $("#delete-btn").click((e) => {
                    $.ajax({
                        type: "POST",
                        url: "/habits-delete2",
                        data: {
                            email: currentEmail,
                            title: targetName,
                        },
                        success: () => {
                            $("#multiModal").fadeOut(400);
                            bgLayerClear();
                            window.location.reload();
                        },
                    });
                });

                // 습관 수정사항 변경
                $("#save-btn").click(() => {
                    const nameInput = $("#editName");
                    const newName = $("#editName").val();
                    const newColorName = $("#select-color option:checked").val();

                    if (newColorName === "deep-blue") color = "#4d638c";
                    else if (newColorName === "green") color = "#83b799";
                    else if (newColorName === "orange") color = "#ffa94d";
                    else if (newColorName === "yellow") color = "#e2cd6d";
                    else if (newColorName === "beige") color = "#c3b28f";
                    else if (newColorName === "pink") color = "#e86f68";
                    else if (newColorName === "burgendy") color = "#881d1d";
                    else if (newColorName === "grey") color = "#495057";

                    if (colorName !== newColorName) {
                        $(e.target).attr(`${colorName}`, `${newColorName}`);
                        $(".fc-event").attr(`${colorName}`, `${newColorName}`);
                    }

                    if (newName.length < 1) {
                        showError(nameInput, `1글자 이상이 되어야합니다`);
                    } else if (newName.length > 8) {
                        showError(nameInput, ` 8글자 이하로 입력해주세요`);
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/habits-edit",
                            data: {
                                email: currentEmail,
                                title: targetName,
                                newTitle: newName,
                                colorName: colorName,
                                newColorName: newColorName,
                                color: color,
                            },
                            dataType: "json",
                            success: function (response) {
                                if (response["result"] === "success") {
                                    window.location.reload();
                                } else {
                                    alert("error");
                                }
                            },
                        });
                    }
                });

                $("#close-btn").click(() => {
                    $("#multiModal").fadeOut(400);
                    bgLayerClear();
                });
            });
    </script>
</html>
