<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>Habits</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='diary.png') }}" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />

        <!-- FontAwesome -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous"
        />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}?1=16" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}?1=11" />

        <!-- JS -->
        <script src="{{ url_for('static', filename='js/home.js') }}?1=2"></script>
    </head>

    <body>
        <div class="wrap">
            <div class="title">
                <h1>Habit Tracker</h1>
            </div>
            <div class="container">
                <i class="fas fa-book"></i>
                <p>기록하고 싶은 습관들을 한눈에 볼 수 있어요</p>
                <button onclick="openModal()" class="default-btn mainBtn" type="button">
                    습관 등록
                </button>
            </div>
            <div id="mainModal" class="modal">
                <div class="content main__content">
                    <div class="row">
                        <small><span>처음</span>이시면, <span>이메일과 습관을 1개</span>를 입력해주세요</small>
                        <small>색은 <span>원하는 색상</span>으로 선택해주세요</small>
                        <small><span>방문</span>한적이 있다면, <span>이메일</span>만 입력해주세요</small>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <label class="label" for="email">이메일</label>
                            <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요" required />
                            <p>Error message</p>
                        </div>
                        <label class="label" for="habit">습관이름</label>
                        <input type="text" name="habit" id="habit" placeholder="습관이름 입력해주세요" required />

                        <label class="label" for="color">색상</label>
                        <select name="color" id="select-color">
                            <option value="deep-blue">남색</option>
                            <option value="green">초록</option>
                            <option value="orange">주황</option>
                            <option value="yellow">노랑</option>
                            <option value="beige">베이지</option>
                            <option value="pink">핑쿠</option>
                            <option value="burgendy">버건디</option>
                            <option value="grey">회색</option>
                        </select>
                    </div>
                    <div class="row">
                        <button type="button" onclick="posting()" class="save-btn">등록</button>
                        <button type="button" onclick="closeModal()" class="default-btn">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
