<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>✏️ Habits</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?1=1" />
        <style>
            small {
                display: block;
                font-size: 10px;
            }
        </style>
        <script>
            function openModal() {
                let modal = $("#mainModal");
                let content = $(".content");
                let marginLeft = content.outerWidth() / 2;
                let marginTop = content.outerHeight() / 2;

                if (modal.css("display") === "none") {
                    modal.fadeIn("slow");
                    content.css({
                        "margin-top": -marginTop,
                        "margin-left": -marginLeft,
                    });
                    $(this).blur();
                }
            }

            function posting() {
                let email = $("#email").val();
                let habit1 = $("#habit1").val();
                let habit2 = $("#habit2").val();

                $.ajax({
                    type: "POST",
                    url: "/habits",
                    data: {
                        email: email,
                        habits: [habit1, habit2],
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            if (habit1 === "" || habit2 == "") {
                                alert("로그인 성공");
                            } else {
                                alert("등록 성공!");
                            }
                            window.location.href = "/habits?email=" + response["current_email"];
                        } else {
                            alert("서버 오류!");
                        }
                    },
                });

                $("#mainModal").fadeOut("slow");
            }
        </script>
    </head>
    <body>
        <div class="wrap">
            <h1>Habit Tracker</h1>
            <span>기록하고 싶은 습관들을 한눈에 볼 수 있어요</span>
            <button onclick="openModal()" class="openBtn" type="button">
                습관 등록
            </button>
            <div id="mainModal" class="mainModal">
                <div class="content">
                    <form action="/habits" method="get">
                        <small>처음이시면, 이메일과 습관을 1개 입력해주세요</small>
                        <small>방문한적이 있다면, 이메일만 입력해주세요</small>
                        <input type="email" id="email" placeholder="이메일을 입력해주세요" required />
                        <input type="text" id="habit1" placeholder="습관" required />
                        <input type="text" id="habit2" placeholder="습관" />
                    </form>
                    <button type="button" onclick="posting()">등록</button>
                </div>
            </div>
        </div>
    </body>
</html>
